@define-color highlight rgba(248, 248, 248, 0.8);
@define-color dark-9 rgba(24, 24, 27, 0.7);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
      border: none;
      font-family: 'JetBrainsMono Nerd Font', 'Symbols Only';
      font-size: 16px;
      font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
      min-height: 25px;
      /* height: 30px; */
      /*padding: 5px 10px; bu eklenecek*/

}

window#waybar {
      background: transparent;
      margin: 0px;
}


#workspaces {
      background-color: transparent;
}

#workspaces button {
      border-radius: 16px;
      background-color: rgba(8, 8, 8, 0.4);
      color: #999a9e;
      padding: 4px 10px;
      transition: all 0.1s linear;
      margin: 2px 5px;
}

#workspaces button.active {
      color: #d9dadd;
      background-color: rgba(8, 8, 8, 0.7);
      font-weight: 700;
      padding: 3px 25px;
      transition: all 0.1s linear;
}

/* #quick-net { */
/*       background-color: rgba(8, 8, 8, 0.6); */
      /* Kullandığınız tema rengi */
/*       border-radius: 8px; */
/*       padding: 5px 10px; */
/*       margin: 12px 12px 0px 0px; */
/* } */

/* İkonun stili */
/* #network.icon { */
/*       padding: 0px 4px; */
/* } */

/* Hover yapılmadığı anlarda metnin gizlenirkenki yumuşak geçişi */
/* #network.text { */
/*       padding: 0px 2px; */
/*       color: #d9dadd; */
/*       transition: all 0.3s ease-in-out; */
/* } */

/* Bağlantı koptuğundaki kırmızı "no network" yazısının rengi */
/* #network\.text.disconnected { */
/*       color: #fc8983; */
/* } */

/* GENERAL APPLICATION DESIGN */

/* long info boxes */
#submap,
#battery,
#cpu,
#memory,
#volume,
#clock
/* #quick-net, */
{
      border-radius: 11px;
      padding: 6px 10px;
      background-color: rgba(8, 8, 8, 0.6);
      color: #d9dadd;
}

#toolkit
{
      background-color: rgba(8, 8, 8, 0.6);
      padding: 2px 2px;
      border-radius: 18px;
}

/* only icon boxes (tookit) */
#bluetooth,
#network,
#custom-updates
{
      border-radius: 15px;
      margin: 2px 5px;
      padding: 1px 10px;
      background-color: rgba(8, 8, 8, 0.5);
      color: #d9dadd;
}

#custom-updates.up-to-date   { color: #999a9e; }
#custom-updates.has-updates  { color: #d9dadd; }
#custom-updates.reboot-needed{ color: #E0D586; }
#custom-updates.error        { color: #F25757; }

#custom-power {
      border-radius: 18px;
      padding: 5px 12px;
      background-color: rgba(8, 8, 8, 0.6);
      color: #d9dadd;
}

#window {
      color: #d9dadd;
      font-weight: bold;
}

#submap:hover,
/* #battery:hover, */
/*tıklanmıyor*/
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#volume:hover,
#clock:hover,
/* #quick-net:hover, */
#network:hover
/* #custom-power:hover */
{
      background-color: rgba(8, 8, 8, 0.7);
      transition: background-color 0.2s linear;
}

/* LEFT SIDE APPLICATION ALLOCATORS */

#clock {
      margin: 12px 12px 0px 12px;
      /* zaten hyprland'den gelen waybar ile pencere arası bir boşluk var*/
}

#workspaces,
#window {
      padding: 0px;
      margin: 12px 10px 0px 10px;
}

/* RIGHT SIDE APPLICATION ALLOCATORS */

#submap,
#battery,
#cpu,
#memory,
#volume, 
/* #quick-net, */
#custom-power,
#toolkit
{
      margin: 12px 12px 0px 0px;
}

#pulseaudio.percent {
      padding-left: 10px;
}

#submap,
#workspaces button.urgent {
      background: rgba(227, 81, 73, 1);
      color: black;
}

#pulseaudio-slider {
      padding: 0px;
      margin: 0px;
      margin-left: 8px;
}

#pulseaudio-slider slider {
      all: unset;
      min-height: 0;
      min-width: 0;
      opacity: 0;
      background-image: none;
      border: none;
      box-shadow: none;
}

#pulseaudio-slider trough {
      min-height: 4px;
      min-width: 75px;
      border-radius: 5px;
      background: @dark-7;
}

#pulseaudio-slider highlight {
      min-height: 4px;
      min-width: 5px;
      border-radius: 5px;
      background: @highlight;
}

tooltip {
      background: @dark-9;
      border-radius: 5px;
}

tooltip label {
      color: white;
}

