@define-color highlight rgba(248, 248, 248, 0.8);
@define-color dark-9 rgba(24, 24, 27, 0.7);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

/* TODO: daha düzenli hale getir / tutarsızlıkları gider. */

* {
      border: none;
      font-family: 'JetBrainsMono Nerd Font', 'Symbols Only';
      font-size: 16px;
      font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
      min-height: 25px;
      /* height: 30px; */
      /*padding: 5px 10px; bu eklenecek*/

}

window#waybar {
      background: transparent;
      margin: 0px;
}

/* === WORKSPACES === */

#workspaces {
      background-color: transparent;
}

#workspaces button {
      min-width: 16px;
      border-radius: 20px;
      background-color: rgba(8, 8, 8, 0.3);
      color: #9e9a9e;
      font-weight: 300;
      font-size: 16px;
      padding: 0px 10px;
      transition: all 0.1s linear;
      margin: 3px 5px;
}

/* there is no other way to specify*/
#workspaces button label {
      font-size: 13px;
}

#workspaces button:hover {
      color: #080808;

}

#workspaces button.active {
      color: #d9dadd;
      background-color: rgba(8, 8, 8, 0.8);
      font-weight: 700;
      padding: 0px 30px;
      transition: all 0.1s linear;
      margin: 3px 5px;
}

#workspaces button.active label {
      font-size: 16px;
}

#workspaces button.active:hover {
      color: #080808;

}

/* GENERAL APPLICATION DESIGN */

/* long info boxes */
#submap,
#battery,
#volume,
#clock,
#custom-notification,
#custom-power,
#temperature,
#media,
#backlight
/* #quick-net, */
{
      min-width: 15px;
      border-radius: 19px;
      padding: 6px 14px;
      background-color: rgba(8, 8, 8, 0.8);
      color: #d9dadd;
}

#media {
      min-width: 90px;
}

/* === TOOLKIT === */

#toolkit
{
      background-color: rgba(8, 8, 8, 0.8);
      padding: 0px;
      border-radius: 18px;
}


/* toolkit buttons */

/* button properties */
#bluetooth,
#custom-network,
#custom-updates,
#cpu,
#memory
{
      min-width: 25px;
      margin: 0px;
      padding: 1px 10px;
      background-color: transparent;
      color: #d9dadd;
}

#custom-toolkit-separator
{
      color: #d9dadd;
      margin: 0px;
      padding: 0px;
}


#custom-updates.up-to-date   { color: #8cc85f; }
#custom-updates.has-updates  { color: #d9dadd; }
#custom-updates.reboot-needed{ color: #E0D586; }
#custom-updates.error        { color: #F25757; }

/* button exceptions */

/* leftmost button */
#memory {
      padding-left: 20px;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
}

/* rightmost button */
#custom-network {
      padding-right: 20px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
}

/* === MEDIA === */

#custom-media-now-playing,
#custom-media-animation
{
      margin: 2px 4px;
}

#custom-media-now-playing {
      margin-left: 10px;
}

#custom-media-animation#button,
#custom-media-animation#timestamp,
#custom-media-animation#animation
{
      color: #d9dadd;
}



#custom-power {
      border-radius: 18px;
      padding: 5px 12px;
      background-color: rgba(8, 8, 8, 0.8);
      color: #d9dadd;
}

#window {
      color: #d9dadd;
      font-weight: bold;
}

#submap:hover,
/* #temperature:hover, */
/* #backlight, */
/* #battery:hover, */
/*tıklanmıyor*/
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#volume:hover,
#clock:hover,
/* #quick-net:hover, */
#custom-network:hover,
#media:hover,
#custom-power:hover,
#custom-notification:hover,
#custom-updates.up-to-date:hover,
#custom-updates.has-updates:hover,
#custom-updates.reboot-needed:hover,
#custom-updates.error:hover
{
      background-color: rgba(8, 8, 8, 0.9);
      transition: background-color 0.2s linear;
}

/* LEFT SIDE APPLICATION ALLOCATORS */

/* Left most */
#clock {
      margin: 10px 12px 0px 10px;
      /* zaten hyprland'den gelen waybar ile pencere arası bir boşluk var*/
}

#workspaces,
#window,
#temperature,
#backlight,
#media
{
      margin: 10px 10px 0px 0px;
}

/* RIGHT SIDE APPLICATION ALLOCATORS */

#submap,
#battery,
#volume, 
/* #quick-net, */
#custom-power,
#custom-notification
{
      margin: 10px 10px 0px 0px;
}

#custom-separator {
      color: #d9dadd;
      margin: 9px 10px 0px 0px;
      font-weight: 400;
      font-size: 20px;
}


#toolkit
{
      margin: 10px 12px 0px 0px;
}

#pulseaudio.percent {
      padding-left: 10px;
}

#submap,
#workspaces button.urgent {
      background: rgba(227, 81, 73, 1);
      color: black;
}

#pulseaudio-slider {
      padding: 0px;
      margin: 0px;
      margin-left: 8px;
}

#pulseaudio-slider slider {
      all: unset;
      min-height: 0;
      min-width: 0;
      opacity: 0;
      background-image: none;
      border: none;
      box-shadow: none;
}

#pulseaudio-slider trough {
      min-height: 4px;
      min-width: 75px;
      border-radius: 5px;
      background: @dark-7;
}

#pulseaudio-slider highlight {
      min-height: 4px;
      min-width: 5px;
      border-radius: 5px;
      background: @highlight;
}

tooltip {
      background: @dark-9;
      border-radius: 5px;
}

tooltip label {
      color: white;
}

